/* for dashboard spans */
.beginner {
    background-color: #1d7935;
    border-color: #135023;
}
.beginner:hover, .beginner:focus {
    background-color: #135023;
}
.beginner:hover, .beginner:focus {
    color: #301711;
}
.beginner span {
    color: #77ae85;
    display: inline-block;
    padding-left: 0.5em;
}

.beginner small, .beginner i {
    color: #0e3c1a;
    text-shadow: 1px 1px 0 #338649;
}
.advanced {
    background-color: #a23527;
    border-color: #79281d;
}
.advanced:hover, .advanced:focus {
    background-color: #79281d;
}
.advanced:hover, .advanced:focus {
    color: #301711;
}
.advanced span {
    color: #c7857d;
    display: inline-block;
    padding-left: 0.5em;
}
.advanced small, .advanced i {
    color: #511a13;
    text-shadow: 1px 1px 0 #ab493c;
}
.intermediate {
    background-color: #a28f27;
    border-color: #796b1d;
}
.intermediate:hover, .intermediate:focus {
    background-color: #796b1d;
}
.intermediate:hover, .intermediate:focus {
    color: #301711;
}
.intermediate span {
    color: #c7bb7d;
    display: inline-block;
    padding-left: 0.5em;
}
.intermediate small, .intermediate i {
    color: #514713;
    text-shadow: 1px 1px 0 #ab9a3c;
}
.category {
    background-color: #745ab7;
    border-color: #5c439b;
}

.beginner, .category, .intermediate, .advanced {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    /* box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset; */
    color: #301711;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.25em;
    padding: 0.5em;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: all 300ms ease-out 0s;
    width: 100%;
}

.beginner i, .category i, .intermediate i, .advanced i {
    font-size: 1.5em;
}
.beginner small, .category small, .intermediate small, .advanced small {
    display: block;
    font-size: 0.45em;
    font-weight: bolder;
}
.beginner:active, .category:active, .intermediate:active, .advanced:active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}


.category:hover, .category:focus {
    background-color: #5c439b;
}
.category:hover, .category:focus {
    color: #301711;
}
.category span {
    color: #ab9cd3;
    display: inline-block;
    padding-left: 0.5em;
}

.category small, .category i {
    color: #3a2d5b;
    text-shadow: 1px 1px 0 #816abe;
}