 body {
     background-color: #f5f8fa;
     color: #636b6f;
 }
.background {
    background-color: #FFF !important;
    border-radius: 3px;
    padding: 30px;
}
table.table-hover tr td:last-child {
    white-space:nowrap;
    width: 1%;
}
ul.dotted {
    list-style-type: none;
}
ul.dotted li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 8px;
    background: #52bad5;
}