 body {
     padding-bottom: 20px;
     background-color: #f5f8fa;
     color: #636b6f;
 }
html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.background {
    background-color: #FFF !important;
    border-radius: 3px;
    padding: 30px;
}
table.table-hover tr td:last-child {
    white-space:nowrap;
    width: 1%;
}
ul.dotted {
    list-style-type: none;
}
ul.dotted li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 10px;
    border-radius: 8px;
    background: #52bad5;
}